.note-form {
    padding: 10px;
    width: 240px;
    min-height: 160px;
    background-color: rgb(255, 234, 117);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.drag-zone {
  height: 10px;
  width: 100%;
  padding-top: -10px;
  cursor: grab;
}

.note-form input, textarea {
    background-color: rgba(255, 255, 255, 0.205);
    border: none;
    min-width: 210px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-bottom: 8px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.note-form button {
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.note-form input::after, textarea::after,
input:focus, textarea:focus {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.425);
    outline-style: none;
}

.note-form button:hover {
    background-color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}