.post-it {
    padding: 0 10px;
    min-width: 240px;
    min-height: 80px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
}

.handle {
    height: 10px;
    cursor: grab;
}

.post-it textarea {
    background-color: transparent;
    border: none;
    min-width: 220px;
    resize: both;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-bottom: 8px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.post-it textarea::after, textarea:focus {
    outline-style: none;
}

.options {
    border: none;
    float: right;
    background-color: transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.options:hover {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
}

ul {
    list-style: none;
}

.post-it-color {
    width: 20px;
    height: 20px;
    border: 0px solid black;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    justify-content: center;
    align-items: center;
    position: relative;
}