.App-header {
  background-color: #fffde3;
  min-height: 100vh;
  text-align: center;
  padding-top: 60px;
}

.App Nav {
  position: fixed;
  width: 40%;
  min-width: 200px;
  margin: 4px 0 20px 30% ;
  background-color: #0202021e;
  backdrop-filter: blur(4px);
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  z-index: 9999;
}

.App Nav a {
  margin-left: 20px;
}

.App Nav img {
  margin-right: 10px;
}