.App-header {
  background-color: #fffde3;
  min-height: 100vh;
  text-align: center;
  /* padding-top: 60px; */
}

.App Nav {
  position: fixed;
  width: 40%;
  min-width: 200px;
  margin: 4px 0 20px 30% ;
  background-color: #cccccc1e;
  backdrop-filter: blur(4px);
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  z-index: 9999;
}

.App Nav a {
  margin-left: 20px;
}

.App Nav img {
  margin-right: 10px;
}

.nav-button {
  border: none;
  background-color: transparent;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.nav-button:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.bi-plus-circle-fill {
  color: rgb(1, 165, 1);
  font-size: 1.8rem;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.bi-plus-circle-fill:hover {
  color: rgb(0, 196, 0);
}

.bi-gear-fill {
  font-size: 1.5rem;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.gear-icon:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.bi-person-circle {
  font-size: 1.8rem;
}